<div class="banner">
    about bc library browser...
</div>
<div style="width: 400px">
    The bandcamp library browser scrapes the following page of some bandcamp user (i.e. <a href="https://www.bandcamp.com/yuliy/following" target="_blank">www.bandcamp.com/yuliy/following</a>) and generates the list of all the bands that user follow.  With this it can generate streaming players for all the albums/singles that each band on the following list.
    <ul>
        <li>
            <a href="https://bitbucket.org/yuliy/bc" target="_blank">view on bitbucket</a>
        </li>
        <li>
            <a href="https://twitter.com/yuliyvig" target="_blank">follow me @yuliyvig</a>
        </li>
    </ul>
</div>