<div class="banner">
    artists that <a href="<%= url %>" class="button" target="_blank"><%= username %></a> follows...
</div>

<div id="band-list-filter">
    <form id="filter-form">
        filter by
        <input id="filter-input" type="input" value=""/>
        <span class="button" id="clear_button" title="clear filter">
            &#9003;
        </span>
    </form>
</div>
<div id="band_list">
    <div class="loader">
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>
    <ul>

    </ul>
</div>
<div id="music">
    <div id="discography">
        
    </div>
</div>