<div class="banner">
    search by bandcamp username...
</div>
<form id="usernameform">
    enter a
    <input id="username" type="input" value="bandcamp username"/>
    to find out who they are following
</form>