/* General Tag Override Definitions */
body
{
    padding: 20px;
    font: 14px Helvetica, Arial, sans-serif;
}

a
{
    color: #00B7FF;
}

ul
{
    list-style-type: none;
}

img
{
    vertical-align: middle;
    padding-right: 4px;
}

input
{
    font: 14px Helvetica, Arial, sans-serif;
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    width: 132px;
}

/* Scrollbar Definition */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #c6c6c6;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #c6c6c6; 
}

/* General Button Definition */
.button
{
    opacity: 1.0;
}

.button:hover
{
    opacity: 0.35;
    cursor: pointer;
}

/* Main Layout Definitions */
#header
{
    width: 1150px;

    padding: 4px 10px 20px 4px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
}

#content
{
    width: 1150px;
}

#band_list
{
    float: left;
    position: relative;
    width: 320px;
    height: 460px;
    display: inline-block;
    overflow-y: auto;
}

#band-list-filter
{
    display: none;
}

.banner
{
    font-size: 1.4em;
    padding-bottom: 20px;
}

.band.selected
{
    color: #FF0000;
}

#music
{
    left: 120px;
    width: 400px;
    position: relative;
    display: inline-block;
}

/* Discography Definitions */
#discography
{
    width: 710px;
    height: 500px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.album
{
    display: inline-block;

    /* for ie7 */
    *display: inline;
    zoom: 1;
}

/* Navigation Button Definitions */
#home_button
{
    display: inline-block;
    float: left;
}

#about_button
{
    display: inline-block;
    float: right;
}

/* Filter Clear Button Definition */
#clear_button
{
    padding-left: 10px;
}

/* Loader Definition */
.loader
{
  width: 100%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}
